* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 10px auto;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.title {
  h1 {
    font-size: 50px;
    margin: 10px;
  }
  h2 {
    font-size: 50px;
    margin: 10px;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.nav_flex {
  display: flex;
  height: 150px;
  justify-content: space-between;
  margin: auto;
  background-color: white;
  padding: 20px;
  @media screen and (max-width: 768px) {
    height: 100px;
  }
  .nav_logo {
    height: 150px;
    @media screen and (max-width: 768px) {
      height: 100px;
    }
  }
  nav {
    display: flex;
    align-items: center;
    gap: 50px;
    color: black; 
    @media screen and (max-width: 768px) {
      text-transform : uppercase;
      gap: 20px;
    }
    img {
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
    a {
      color: black;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #ffbd80;
        cursor: pointer;
      }
      &:active {
        text-decoration: underline;
        color: #b35600;
        cursor: pointer;
      }
    }
  }
}

.round {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  @media screen and (max-width: 768px) {
    width: 150px;
    height: 150px;
  }
}
.about {
  background-color: #ffbd80;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: row-reverse;
  .about_txt {
    margin: 30px 30px;
    @media screen and (max-width: 768px) {
      margin: 0 10px;
      text-align: center;
    }
  }
  .about_img {
    display: flex;
    margin: 30px auto;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.center {
  padding: 20px;
  margin: 20px auto;
}
.filtres {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  p {
    margin: 0;
    padding: 5px 20px;
    border-radius: 20px;
    color: black;
    &:hover {
      background-color: #ffbd80;
      color: white;
      cursor: pointer;
    }
    &:active {
      background-color: #b35600;
      color: white;
      cursor: pointer;
    }
  }

}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 40px auto;
  padding: 0 150px;
  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;

  }
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 0 5px;
  }
}
.card {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  p {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: white;
    z-index: 100;
  }
}
.gradient {
  background: linear-gradient(180deg,hsla(0,0%,100%,0),hsla(0,0%,100%,0),rgba(0,0,0,.6));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.footer {
  width: 100%;
  height: 150px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .footer_logo {
    height: 150px;
  }
  .footer_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    p {
      margin: 0;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      color: white;
      text-decoration: none;
    }
    img {
      max-height: 30px;
      max-width: 30px;
    }
  }
  
}